.App {
  margin: 0 10px 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: 'Montserrat', sans-serif;

  body {
    margin: auto;
    background-color: #f6f6f6;
  }
}

