@import "../utils/variable";
@import "../utils/mixins";

main {
    @include flex-center;
    width: 100%;

    .about {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        justify-content: space-between;
        width: 80%;
    }
}

// Responsive Mobile
@media screen and (max-width: 768px) {
    main {
        .about {
            display: flex;
            flex-direction: column;
            margin-top: 50px;
            justify-content: space-between;
            width: 100%;
        }
    }
}