@import "../utils/variable";
@import "../utils/mixins";

main {
    display: flex;
    width: 100%;
    flex-wrap: wrap;

    .CardFlat {
        @include flex-center;
        flex-wrap: wrap;
        margin-top: 30px;
        width: 100%;
        background-color: $colour-secondary;
        border-radius: 10px;
        overflow: hidden;

        a {
            animation: flip-in-ver-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
        }
        
    }
}

// Responsive Mobile
@media screen and (max-width: 768px) {
    main {
        .CardFlat {
            width: 100%;
            background-color: white;
        }   
    }
}

/**
 * ----------------------------------------
 * animation flip-in-ver-right
 * ----------------------------------------
 */
 @-webkit-keyframes flip-in-ver-right {
    0% {
      -webkit-transform: rotateY(-80deg);
              transform: rotateY(-80deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
      opacity: 1;
    }
  }
  @keyframes flip-in-ver-right {
    0% {
      -webkit-transform: rotateY(-80deg);
              transform: rotateY(-80deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
      opacity: 1;
    }
  }