@import "../utils/variable";

.flat {
    display: flex;
    flex-direction: row;

    &__card {
        display: flex;
        height: 300px;
        width: 550px;
        border-radius: 10px;
        margin: 20px;
        overflow: hidden;
    }

    &__card:hover {
        transform:scale(1.03);
        transition: 800ms;
        box-shadow: $shadow;
        cursor: pointer;
    }

    &__text { 
        display: flex;
        align-items: flex-end;
        width: 550px;
        height: 300px;
        position: absolute;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.380));
        border-radius: 10px;

        h3 {
            padding-right: 150px;
            color: white;
            margin: 0 0 15px 15px;
        }
    }

    &__image {
        img {
            height: 100%;
            width: 550px;
            object-fit: cover;
        }
    }
}

// Responsive Mobile
@media screen and (max-width: 768px) {
    .flat {
        display: flex;
        flex-direction: column;
    
        &__card {
            display: flex;
            margin: 0 0 20px 0;
            height: 300px;
            width: 100%;
            border-radius: 10px;
            overflow: hidden;
        }

        &__card:hover {
            transform:scale(1.03);
            transition: 800ms;
        }

        &__text { 
            position: absolute;
            display: flex;
            align-items: flex-end;
            width: 91%;
            height: 300px;

            h3 {
                padding-right: 100px;
                color: white;
                margin: 0 0 15px 15px
            }
        }

        &__image {
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}
