.housing__profil {
    @include flex-center;

    .profil-name {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 50%;

        p {
            text-align: end;
            color: $colour-primary;
            font-size: 15px;
            font-weight: 500;
        }
    }

    .profil-photo {
        display: flex;
        justify-content: flex-end;
        margin-left: 10px;
        overflow: hidden;

        img {
            border: 1 solid $colour-secondary;
            border-radius: 50%;
            width: 50px;
        }
    }

}