.App {
    margin: 0 50px 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  
    body {
      margin: auto;
      background-color: #f6f6f6;
    }
  }

  // Responsive Mobile
@media screen and (max-width: 768px) {
  .App {
    margin: 0 10px 0 10px;
  }
}